{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block content %}

{% for appetizer in appetizers %}



<div class="row">
  <div class="col s12 m7">
    <div class="card small">
      <div class="card-image">
        <img class="materialboxed" width="650" src="/static/imgs/dishes/{{appetizer.id}}.jpg">
        <!-- <img src="{% static 'imgs/dishes/Chile Con Queso.jpg' %}"> -->
        <span class="card-title">{{ appetizer.name }}</span>
      </div>
      <div class="card-content">
        <p>{{ appetizer.description}}</p>

        {% for priceOption in priceOptions %}
            {% if priceOption.dish_id == appetizer.id %}
              <p>{{priceOption.option}} - {{priceOption.price}}</p>
            {% endif %}
        {% endfor %}

      </div>
    </div>
  </div>
</div>
<hr />

{% endfor %}



{% endblock %}
